header
    .header-position
        h1.logo Jon Marshall

        nav.site-nav
            ul
                li: a(href="#about") About
                li: a(href="#skills") Skills
                li: a(href="#portfolio") Portfolio
                li: a(href="#contact") Contact
        a(href="mailto:jonathan.marshall6@gmail.com").email-link +email me