mixin nav-content()
    ul
        li
            a.home-link.active(rel="Home" href="#home") Home 
                i.fa.fa-home
        li
            a(rel="about" href="#about") About Me 
                i.fa.fa-user-secret
        li
            a(rel="portfolio" href="#portfolio") Portfolio 
                i.fa.fa-code
        li
            a(rel="portfolio" href="#contact") contact
                i.fa.fa-envelope

.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo Jon Marshall

        nav.site-nav
            +nav-content()
        a(href="mailto:jonathan.marshall6@gmail.com").email-link +email me

        .mobile-nav-toggle: span